@import "./config";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-status{
    position: absolute;
    top: 41vh;
    left: 38vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 50px;
}

.playground {
  @include basicstyle(93vh, $border-playground, $bg-color-playground);

  .mosquito-img {
    width: 5%;
    position: relative;
    top: 5px;
  }

  .cracker{
    position: relative;
    top: 1px;
    margin-bottom: -10px;
    display: none;
  }
}

.controls {
  @include basicstyle(7vh, $border-controls, $bg-color-controls);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;

  &-start-btn{
    padding: 5px 10px;
    font-size: 18px;
    border: none;
    background-color: red;
    color: white;

    &:hover{
        font-weight: bold;
        color: darkcyan;
        background-color: rgb(248, 163, 163);
        font-size: 20px;
    }
  }
}

@media screen and (min-width: 320px){
    .game-status{
        position: absolute;
        top: 41vh;
        left: 18vw;
        font-size: 30px;
    }
    .playground{
        .mosquito-img {
            width: 12%;
            position: relative;
            top: 5px;
          }

          .cracker{
            width: 15%;
          }
    }
    .controls{
      .total-count{
        font-size: 25px;
      }
      .total{
        font-size: 25px;
      }
    }
}

@media screen and (min-width: 760px){
    .game-status{
        position: absolute;
        top: 41vh;
        left: 38vw;
        font-size: 50px;
    }
    .playground{
        .mosquito-img {
            width: 5%;
            position: relative;
            top: 5px;
          }

          .cracker{
            width: 5%;
          }
    }
    
}

